 
<div class="flex justify-center items-center h-screen bg-gray-200">
  <div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 space-y-9">
      <div class="mb-4">
        <p-floatLabel>
            <input pInputText id="username" />
            <label for="username">Username</label>
        </p-floatLabel>
      </div>
      <div class="mb-6">
        <p-floatLabel>
            <input pInputText type="password" id="password" />
            <label for="password">Password</label>
        </p-floatLabel>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button">
          Sign In
        </button>
        <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
          Forgot Password?
        </a>
      </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
      &copy;2020 Acme Corp. All rights reserved. 
    </p>
  </div>